<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 进行Mybatis的相应的环境的属性定义 -->
	<settings>	<!-- 在本项目之中开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!--
	别名 
	<typeAliases>
 		<package name="cn.xhy.signup.vo"/>
	</typeAliases> -->
<!--	配置旧版本分页插件 
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins> -->
	
    <plugins>  
        <plugin interceptor="com.github.pagehelper.PageInterceptor">  
        </plugin>  
    </plugins> 
</configuration>