<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8"/>
		<div th:replace="plugins/include_head_script.html"></div>
		<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
		
	</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- 导入头部标题栏内容 -->
		<div th:replace="plugins/include_body_header.html"></div>
		<!-- 导入左边菜单项 -->
		<div th:replace="plugins/include_left_menu.html :: param(5,52)"></div>
		<div class="content-wrapper text-center">
			<div>
				<form action="#" method="post" class="form-horizontal" id="adminForm">
					<fieldset>
						<legend><label><span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码</label></legend>
						<div class="form-group" id="passwordDiv">
							<label class="col-md-3 control-label" for="password">密码：</label>
							<div class="col-md-5">
								<input class="form-control" type="password" id="password" name="password" placeholder="密码">
							</div>
							<div class="col-md-2" >
								<span id="passwordMsg"></span>
							</div>
						</div>
						<div class="form-group" id="confPWDiv">
							<label class="col-md-3 control-label" for="confPW">确认密码：</label>
							<div class="col-md-5">
								<input class="form-control" type="password" id="confPW" name="confPW" placeholder="确认密码">
							</div>
							<div class="col-md-2" >
								<span id="confPWMsg"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-5 col-md-offset-3">
								<button type="submit" class="btn btn-primary">修改</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- 导入公司尾部认证信息及右边工具设置栏 -->
		<div th:replace="plugins/include_footer_and_right_menu.html"></div>
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- 导入css、js -->
	<div th:replace="plugins/include_foot_script.html"></div>
</body>
<script th:inline="javascript">
var context = [[@{/}]]; 
validateParam("#adminForm",{
	"password" :{     //针对此name元素进行验证
		required :true,
		maxlength:20
    }
    ,"confPW":{
        equalTo: password//此字段不能为空
    }
},function(){
	if(window.confirm("修改密码操作将会退出系统，是否继续！")){
		$.post(context+"back/actions/admin/updateCurrentPW",{
			password:$("#password").val()
		},function(data){
			if(data.result){
				$.post(context+"back/actions/logout");
				window.location = context+"back/index"; 
			}
		});
		
	}
});
</script>
</html>
