<!DOCTYPE>
<html>
<head>
<div th:replace="plugins/include_head_script.html"></div>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>印章管理信息系统</title>
<link th:href="@{/css/front_common.css}" rel="stylesheet"
	type="text/css" />
<style type="text/css">
.carousel-inner {
	height: 70%;
}
a:hover {
	cursor: hand;
}

</style>
</head>
<body>
	<div th:include="plugins/front_include_top.html"></div>
	<div class="content">
		<div class="myleft">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">企业查询</h4>
				</div>
				<div class="in" id="content-a">
					<div class="panel-body">
						<label> 单位编号：<input type="text" id="cid" size="18">
						</label><br> <label> 单位名称：<input size="18" type="text"
							id="cname">
						</label><br>
						<div>
							<button class="btn btn-primary" style="float: right;"
								v-on:click="queryCompany" data-loading-text="正在查询..." id="query">查询</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">备案企业</h4>
				</div>
				<div class="in" id="content-a">
					<marquee id="ad" onmouseover="ad.stop()" onmouseout="ad.start()"
						scrollamount="5" scrolldelay="6" direction="up" height="250"
						width="245">
						<table width="95%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr v-for="company in companyList">
									<td width="37" height="23" align="left"><img width="5"
										height="5"></td>
									<td width="625" height="23" align="left"><a
										style="cursor: pointer;" class="s1"
										v-on:click="showDesc(company.cid)"> <span
											class="news_pic_td">{{company.cname}}</span>
									</a></td>
								</tr>
							</tbody>
						</table>
					</marquee>
				</div>
			</div>
		</div>
		<div class="myright">
			<div v-if="!ifQuery">
				<div style="height: 80%; width: 100%">
					<div id="carouselMenu" class="carousel slide">
						<ol class="carousel-indicators">
							<li data-target="#carouselMenu" data-slide-to="0" class="active"></li>
							<li data-target="#carouselMenu" data-slide-to="1"></li>
							<li data-target="#carouselMenu" data-slide-to="2"></li>
							<li data-target="#carouselMenu" data-slide-to="3"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<div class="carousel-caption"></div>
								<img width="100%" th:src="@{/img/carousel/1.png}">
							</div>
							<div class="item">
								<div class="carousel-caption"></div>
								<img height="100%" width="100%" th:src="@{/img/carousel/2.png}">
							</div>
							<div class="item">
								<div class="carousel-caption"></div>
								<img height="100%" width="100%" th:src="@{/img/carousel/3.png}">
							</div>
							<div class="item">
								<div class="carousel-caption"></div>
								<img height="100%" width="100%" th:src="@{/img/carousel/4.png}">
							</div>
						</div>
						<a href="#carouselMenu" class="carousel-control left"
							data-slide="prev">&lsaquo;</a> <a href="#carouselMenu"
							class="carousel-control right" data-slide="next">&rsaquo;</a>

					</div>
				</div>
				<div class="panel panel-info"
					style="width: 100%; position: relative; top: -100px;">
					<div class="panel-heading">
						<h4 class="panel-title" style="text-align: center;">系统简介</h4>
					</div>
					<div>
						<blockquote class="blockquote">
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按照公安部的要求与全国公安部门统一联网管理，并将印章的可公开信息共享在市公安局互联网上的“印章备案入网查询系统”，可为外地、内地在西安投资、经商、洽谈业务的客户提供合作单位印章是否在公安机关备案入网、是否启用新型网络编码印章、是否具备法律效力等信誉查询。
								各职能部门、社会各界、企事业单位等随时通过该系统进行印章相关信息查询。</p>
						</blockquote>
					</div>
				</div>
			</div>
			<div v-if="ifQuery && queryFalg == 1">
				<h4 style="position: relative; left: 30%;"
					v-if="companyList == null || companyList.length == 0">未查找到相关信息！</h4>
				<div class="row pre-scrollable">
					<table v-if="companyList != null && companyList.length > 0"
						style="word-break: break-all; word-wrap: break-all; width: 100%;"
						id="companyList"
						class="table table-striped table-bordered table-hover table-condensed text-center">
						<tr>
							<th width="18%">单位编号</th>
							<th width="32%">单位名称</th>
							<th width="21%">位置</th>
							<th width="17%">状态</th>
							<th width="15%">操作</th>
						</tr>
						<tr v-for="company in companyList">
							<td>{{company.cid}}</td>
							<td><a v-on:click="showCompany(company.cid)">{{company.cname}}</a></td>
							<td>{{company.province}},{{company.city}}</td>
							<td v-if="company.status ==0" class="text-warning"><strong>审核中</strong></td>
							<td v-if="company.status ==1" class="text-success"><strong>审核已通过</strong></td>
							<td v-if="company.status ==2" class="text-danger"><strong>审核未通过</strong></td>
							<td>
								<button class="btn btn-xs btn-primary" v-if="company.status ==1"
									v-on:click="showDesc(company.cid)">查看印章</button>
							</td>
						</tr>
					</table>
					<div id="splitPageDiv" class="text-right"></div>
				</div>
			</div>
		</div>
		<div class="modal fade downmove" id="updatePW" tabindex="-1">
			<form action="" method="post" id="pwForm" class="form-horizontal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">请输入密码</h4>
						</div>
						<div class="modal-body">
							<fieldset>
								<div class="form-group row" id="conPWDiv">
									<label class="col-md-3 control-label" for="conPW">密码：</label>
									<div class="col-md-6">
										<input type="password" name="conPW" id="conPW"
											class="form-control" placeholder="请输入密码">
									</div>
									<span id="conPWMsg" class="col-md-3"></span>
								</div>
							</fieldset>
						</div>
						<div class="modal-footer">
							<a class="btn btn-success" v-on:click="showSeal">确认</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade downmove" id="sealList" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content row pre-scrollable"
					style="width: 800px; position: relative; right: 100px;">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">印章信息</h4>
					</div>
					<div class="modal-body" style="text-align: center;">
						<h4 v-if="seals == null || seals.length==0">
							没有印章信息，<a th:href="@{/front/seal_audit}" target="_blank">去添加?</a>
						</h4>
						<table v-if="seals != null && seals.length>0"
							class="table table-striped table-bordered "
							style="word-break: break-all; word-wrap: break-all; margin-top: 10px; margin: auto; width: 85%; border: 1px solid red;">
							<tr>
								<td width="15%">印章编码</td>
								<td width="20%">印章名称</td>
								<td width="15%">印章状态</td>
								<td width="20%">印章交付日期</td>
								<td width="15%"></td>
								<td width="15%"></td>
							</tr>
							<tr v-for="seal in seals">
								<td>{{seal.sid}}</td>
								<td>{{seal.sname}}</td>
								<td v-if="seal.status == 0" class="text-muted">审核中</td>
								<td v-if="seal.status == 1" class="text-info">审核通过,<br />待交付
								</td>
								<td v-if="seal.status == 2" class="text-warning">审核未通过</td>
								<td v-if="seal.status == 3" class="text-danger">已注销</td>
								<td v-if="seal.status == 4" class="text-warning">申请注销中</td>
								<td v-if="seal.status == 5" class="text-success">已交付</td>
								<td ><span v-if="seal.status == 5 || seal.status==3" >{{seal.smdate|forMatDateSimple}}</span></td>
								<td><img v-bind:src="'/upload/seal/'+seal.photo"
									width="80px" height="80px"></td>
								<td>
									<button v-on:click="applyCancell(seal.sid)"
										v-if="seal.status == 5" class="btn btn-xs btn-primary">申请注销</button>
									<button v-on:click="reaudit(seal.sid)" v-if="seal.status == 2"
										class="btn btn-xs btn-danger">重新审核</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="companyInfo" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">单位信息</h4>
					</div>
					<div class="modal-body">
						<table class="table table-striped table-bordered table-condensed"
							style="margin: auto; width: 80%; border: 1px solid red; table-layout: fixed; word-break: break-all;">
							<tr>
								<td width="20%">单位编号</td>
								<td width="80%">{{company.cid}}</td>
							</tr>
							<tr>
								<td>单位地址</td>
								<td>{{company.province}} {{company.city}}</td>
							</tr>
							<tr>
								<td>负责人</td>
								<td>{{company.leader}}</td>
							</tr>
							<tr>
								<td>联系方式</td>
								<td>{{company.phone}}</td>
							</tr>
							<tr>
								<td width="20%">单位描述</td>
								<td width="80%">
									<p>{{company.cdesc}}</p>
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	<footer style="padding: 20px;">
		<span style="margin: 40%;">版权所有 © 2019 白城师范学院计算机科学学院
			吉ICP备16028103号-1 </span>
	</footer>
	<div id="otherform" style="display: none;"></div>
	<!-- 这里构造一个div -->

	<script th:inline="javascript">
		var context = [[@{/}]]; 
		$(function() {
			$("#carouselMenu").carousel({
				interval : 2000
			});
		});
		var count =0;
		var companyPWInfos = new Map();
		var app = new Vue({
			el : ".content",
			data : {
				ifQuery : false,
				companyList : [
					{cid:1,status:0}
					,{cid:2,status:1}
					,{cid:3,status:2},{cid:2,status:1},{cid:2,status:1}
					
				],queryFalg:1
				,seals:[ ]
				,company:{}
				,companyList:[]
			},
			methods : {
				applyCancell:function(sid){
					if(window.confirm("确认注销")){
						$.post(context+"front/actions/seal/applyCancell"
								,{sid:sid}
						,function(data){
							alert("已提交申请");
							$("#sealList").modal("hide");
						});
					}
				},reaudit:function(sid){
					 $("#otherform").html(
							            "<form action='"+context+"front/actions/seal/reaudit' method='post' target='_blank' id='reauditForm' style='display:none'>"+
							                        "<input type=hidden name='sid' value='"+sid+"' />"+
							            "</form>"
							); 
							$("#reauditForm").submit(); //提交
							$("#otherform").html(""); //清空div
							$("#sealList").modal("hide");
				},queryCompany : function() {
					if($("#cid").val() == ""&&$("#cname").val()==""){
						alert("请输入检索内容！");return
					}
					app.ifQuery = true;
					app.queryFalg=0;
					$("#query").button("loading");
					$.post(context+"front/actions/company/findAllByCidAndCname"
							,{cid:$("#cid").val(),cname:$("#cname").val()}
					,function(data){
						app.companyList=data.result.list;
						 $("#query").button("reset");
						 app.queryFalg=1;
					});
					 
				},showDesc:function(cid){
					this.company.cid = cid;
					var pwd = companyPWInfos.get(cid);
					if(pwd == undefined){//如果该企业并没有进行密码验证
						$("#conPW").val("");
						$("#conPW")[0].focus();
						$("#updatePW").modal("toggle");
					}else{
						pwd = uncompile(pwd);
						$.post(context+"front/actions/company/checkPwd"
								,{cid:cid,password:pwd},function(data){
							if(data){
								$.post(context+"front/actions/seal/findAllByCompany"
										,{cid:app.company.cid,password:pwd},function(data){
											app.seals = data.result;
											companyPWInfos.set(app.company.cid,compile(pwd));
											$("#updatePW").modal("hide");
											$("#sealList").modal("show");
										});
							}else{//密码失效时
								$("#conPW").val("");
								$("#conPW")[0].focus();
								$("#updatePW").modal("show");
							}
						});
						//1、验证密码信息
						//2、如果成功保存加密密码，查询印章信息，否则$("#updatePW").modal("show");
						//$("#sealList").modal("show");
					}
					//companyInfos.set(cid+"" ,)
					/* console.log(pwd)
					pwd = compile(pwd);
					console.log(pwd)
					pwd = uncompile(pwd);
					console.log(pwd); */
					
				},showSeal:function(){
					var pwd = $("#conPW").val();
					if(pwd == ""){
						alert("密码不能为空！");
						return;
					}
					$.post(context+"front/actions/company/checkPwd"
							,{cid:this.company.cid,password:pwd},function(data){
						if(data){
							$.post(context+"front/actions/seal/findAllByCompany"
									,{cid:app.company.cid,password:pwd},function(data){
										app.seals = data.result;
										companyPWInfos.set(app.company.cid,compile(pwd));
										$("#updatePW").modal("hide");
										 setTimeout(function(){
											 $("#sealList").modal("show");
									    },320);
									});
						}else{
							alert("密码不正确！");
						}
					});
					//1、根据cid验证密码信息
					//2、如果密码正确则查询印章信息并保存加密后的密码到companyPWInfos ，否则继续验证密码
					//this.company.cid
					
					
					
					if(count++ >1){
						app.seals=[];
					} 
				},showCompany:function(cid){
					for(var i = 0;i<app.companyList.length;i++){
						if(app.companyList[i].cid== cid){
							companyModal.company=app.companyList[i];
							$("#companyInfo").modal("toggle");
						}
					}
				}
			},filters:{
				forMatDateSimple:function(date){
					return new Date(date).format("yyyy-MM-dd");
				},forMatDateDesc:function(date){
					return new Date(date).format("yyyy-MM-dd hh:mm:ss");
				}
			}
		});
		$.post(context+"front/actions/company/findAll",function(data){
			app.companyList = data;
		});
		var companyModal =new Vue({
			el:"#companyInfo"
			,data:{
				company:{}
			}
		});
	</script>
	
</body>

</html>
